@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --global-background: #f9f1f1;
    --background: #ffffff;
    --foreground: #330000;

    --muted: #f5f5f5;
    --muted-foreground: #999999;

    --popover: #ffffff;
    --popover-foreground: #330000;

    --card: #ffffff;
    --card-foreground: #330000;

    --border: #e8e8e8;
    --input: #e8e8e8;

    --primary: #1a1a1a;
    --primary-foreground: #ffffff;

    --secondary: #f5f5f5;
    --secondary-foreground: #1a1a1a;

    --accent: #f5f5f5;
    --accent-foreground: #1a1a1a;

    --destructive: #ff3333;
    --destructive-foreground: #ffffff;

    --ring: #330000;

    --radius: 0.5rem;
  }

  .dark {
    --global-background: #f9f1f1;
    --background: #330000;
    --foreground: #ffffff;

    --muted: #333333;
    --muted-foreground: #cccccc;

    --popover: #330000;
    --popover-foreground: #ffffff;

    --card: #330000;
    --card-foreground: #ffffff;

    --border: #333333;
    --input: #333333;

    --primary: #ffffff;
    --primary-foreground: #1a1a1a;

    --secondary: #333333;
    --secondary-foreground: #ffffff;

    --accent: #333333;
    --accent-foreground: #ffffff;

    --destructive: #990000;
    --destructive-foreground: #ffffff;

    --ring: #cccccc;
  }
}

@font-face {
  font-family: "vazir";
  src: url("@/assets/fonts/Farsi-Digits/Vazir-FD.eot");
  src: url("@/assets/fonts/Farsi-Digits/Vazir-FD.eot?#iefix")
      format("Vazir-FD-opentype"),
    url("@/assets/fonts/Farsi-Digits/Vazir-FD.woff") format("woff"),
    url("@/assets/fonts/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vazir";
  src: url("@/assets/fonts/Farsi-Digits/Vazir-Bold-FD.eot");
  src: url("@/assets/fonts/Farsi-Digits/Vazir-Bold-FD.eot?#iefix")
      format("Vazir-FD-opentype"),
    url("@/assets/fonts/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("@/assets/fonts/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: "vazir";
  src: url("@/assets/fonts/Farsi-Digits/Vazir-Light-FD.eot");
  src: url("@/assets/fonts/Farsi-Digits/Vazir-Light-FD.eot?#iefix")
      format("Vazir-FD-opentype"),
    url("@/assets/fonts/Farsi-Digits/Vazir-Light-FD.woff") format("woff"),
    url("@/assets/fonts/Farsi-Digits/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
    direction: rtl;
    font-family: "vazir";
  }
  body {
    @apply bg-global-background text-foreground;
  }
}
